<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="tabs">
            <button class="tab-button active" onclick="switchTab('login')">Login</button>
            <button class="tab-button" onclick="switchTab('signup')">Sign Up</button>
        </div>
    </div>

    <div class ="wrapper-block"></div>
        <!-- LOGIN FORM -->
        <div id="login" class="tab-content active">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="login-username">Username:</label>
                    <input type="text" placeholder="Enter your username." id="login-username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Password:</label>
                    <input type="password" placeholder="Enter your password." id="login-password" name="password" required>
                </div>
                <button type="submit">Login</button>
                <p class="switch-animation"> Don't have an account? <a href="#" onclick="switchTab('signup')">Log-in</a></p>
            </form>
        </div>

        <!-- SIGNUP FORM -->
        <div id="signup" class="tab-content">
            <h2>Sign Up</h2>
            <form method="POST" action="{{ url_for('signup') }}">
                <div class="form-group">
                    <label for="signup-username">Username:</label>
                    <input type="text" placeholder="Enter your username." id="signup-username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="signup-password">Password:</label>
                    <input type="password" placeholder="Enter your password." id="signup-password" name="password" required>
                </div>
                <button type="submit">Sign Up</button>
                <p class="switch-animation"> Already have an account? <a href="#" onclick="switchTab('login')">Sign-up</a></p>
            </form>
        </div>

    </div>

</body>
</html>